---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Leave The Math To Us",
    description:
      "Just snap a photo of your receipt, and let us handle the rest. We'll tell you who owes what, no calculator necessary.",
    icon: "ph:math-operations",
  },
  {
    title: "Modern, Responsive UI",
    description:
      "Utilizing the power of React Native + Native Base, your app will stay snappy no matter what platform you utilize.",
    icon: "ic:baseline-speed",
  },
  {
    title: "Payments? No Problem",
    description:
      "Let us send a PayPal invoice on your behalf. No more 'I don't have that payment app' excuses-- you're getting paid.",
    icon: "bi:cash-coin",
  }
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    Halfsies makes splitting the bill <span class="text-primary">easy</span>. Using
    modern
    <span class="text-primary">Ocular Character Recognition</span>,
    you'll never have to calculate by hand <span class="text-primary">again</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
